
@font-face {
    font-family: "Multicolor";
    src: url('fonts/Multicolore.otf'); /* IE */
}

@font-face {
    font-family: "Aleo";
    src: url('fonts/Aleo-Bold.otf'); /* IE */
} 

span.welcome-dscr {
	font-family : Aleo;
	text-align : -webkit-center;
}

div.welcome-page-button > button {
	font-family : Multicolor;
	text-align : -webkit-center;
}


div#welcome-page-header > h1 {
	font-family : Multicolor;
	text-align : -webkit-center;
}

a.starSelected {
	/* background:#FFFF00 !important; */
	background:#999999 !important;
}

a.plusAdded {
	/* background:#181256 !important; */
	background:#999999 !important;
} 

ul#video-list li.hide {
	display: none;
}

.show {
	display: block;
}


/* Thanks to stackoverflow */
 ul li > * {
      display: inline-block;
      vertical-align: middle;
 }

/* .ui-loader-default {
    opacity: 1 !important;      
}

.custom-spinner {
    width: 37px !important;
    height: 37px !important;
    background-image:url('images/ajax-loader.gif');
    display: block;
} */



.video-container-div {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container-div iframe,  
.video-container-div object,  
.video-container-div embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 95%;
}


li.load-more-data a, li.showVideoList a {
	text-align: center;
}

ul#video-list a {
	font-family: fontawesome;
}

span.title {
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

span.title:hover, img:hover {
	color: #2793E6;
	text-decoration:none;
}

.stat {
color: #999999;
font-size: 12px;
display:block;
line-height:2;
}

i.fa {
color: #999999;
font-size: 12px;
margin-left: 6px;
}

div#lhsMenuDiv {
	margin-top: -15px;
}